@CHARSET "ISO-8859-1";

body{
    background-color: black;
    color: white;
}

#siteContainer{
	width: 100%;
	height: 100%;
}

#site{
	margin: 0 auto;
	width: 800px;
	height: 100%;
}

#headingContainer{
	height: 400px;
	width: 560px;
	background-image: url(../img/pony-parts.png);
}

.tooltip{
	display: none;
	background-color: #8b4513;
	border: 1px solid #a0522d;
	left: 50px;
	width: auto;
	height: auto;
	padding: 5px 10px;
}

#char_img{
	float: left;
	margin: 20px 10px 0 0;
}